/* Navigation Bar Styles */
.navbar {
  background: linear-gradient(to right, #f06292, #ff9800); /* Vibrant gradient background */
  position: static;
  height: 100px; /* Adjust the height as needed */
}

.navbar-brand {
  font-family: "Marcellus SC", serif;
  font-weight: bold;
  text-decoration: overline;
  text-transform: capitalize;
  text-align: left;
  font-size: 34px;
  letter-spacing: 5px;
  word-spacing: 8px;
  color: #fff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 10px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add smooth color transition */

  /* Hover effect */
  cursor: pointer;
}

.navbar-brand:hover {
  background-color: rgb(241, 146, 44); /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.navbar-toggler-icon {
  background-color: #fff; /* Toggler icon color */
}

/* Navigation Links Styles */
.nav-link {
  color: #fff !important; /* Navigation link text color */
  margin-right: 15px;
  font-size: 20px; /* Adjust the font size */
  transition: color 0.3s ease; /* Add a transition effect */
}

.nav-link:hover {
  color: #ffeb3b !important; /* Change link color on hover */
}

/* Highlight Active Link Styles */
.active-link {
  color: #ffeb3b !important; /* Active link text color */
}

/* Search Form Styles */
.form-control {
  margin-right: 10px;
  color: #333; /* Input text color */
}

/* Search Button Styles */
.btn-outline-success {
  color: #333; /* Search button text color */
  border-color: #333; /* Search button border color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a transition effect */
}

.btn-outline-success:hover {
  background-color: rgb(85, 222, 188); /* Change button background color on hover */
  color: #333; /* Change text color on hover */
}

/* Container for the search form */
.search-container {
  position: relative;
}

/* Style for the search input */
.form-control {
  border-radius: 20px; /* Adjust the border-radius as needed */
  padding-right: 40px; /* Space for the search icon */
  
}

/* Style for the search button */
.btn-outline-success {
  position: absolute;
  right: 8px; /* Adjust the position as needed */
  top: 42%;
  transform: translateY(-50%);
  border-radius: 20px; /* Match the border-radius of the input */
  border: none;
}