@import '~@fortawesome/fontawesome-free/css/all.css';
.footer {
    overflow: hidden;
    position: sticky;
    top: 100%;
    background: linear-gradient(to right, #1abc9c, #3498db); /* Gradient background */
    padding: 20px 10px;
    color: #ecf0f1; /* Text color */
}

.footer a {
    color: #ecf0f1; /* Link color */
}

.footer a:hover {
    color: #f39c12; /* Link color on hover */
}


h1 
{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
p 
{
    color: #fff;
    font-size: 12px;
}
a 
{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover 
{
    color: var(--primary-color);
}
i 
{
    padding: 0px 10px;
}

.container{
    margin-top:-230px;
    margin-left: 1500px;
}
.social-icons {
    font-size: 24px;
    position: relative;
    
  }
  
  .social-icons a {
    margin-right: 10px;
    color:white;
    
  }