<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>V S B Enterprises </h1>
            <p>Quality serves nation</p>
        </div>

        
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>

        <div class="col-lg-6 mt-3 mb-3">
            <p>Terms and conditions</p>
            <br>
            <p>for more discounts and offers ,subscribe to our newsletter</p>
            <input class="input" >
            
        </div>

        <div class="col-lg-6 mt-3 mb-3">
            <p>Email us : customersupport@vbs.com</p>
            <p>call us : +239999000033</p>
            <p>Visit us : 12th street , vijay nagar ,trichy- 620017</p>
        </div>
        <!-- socialmedia -->
        <div class="container">
            <div class="social-icons">
                <h1>Keep in touch</h1>
              <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
              <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2023 Your Tile Company. All rights reserved.</p>
          </div>
    </div>
</div>
