<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of productData">

            <div class="productbox mt-3 mb-3">
                <img src="{{fd.productImg}}">
                <h1>{{fd.productName}}</h1>
                <p>{{fd.productDetails}}</p>
                <p>{{fd.productPrice | currency:'INR'}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>

</div>